<template>

	<div class="card">
		<button class="btn btn-light" id="trash" @click="todoDelete"><i class="fas fa-trash-alt"></i> </button>
        
		<div class="photo_nom" >
			<img :src="apprenant.Photo" class="photoapprenant" >
			<div>
				<h4>Nom : {{apprenant.Nom}} </h4>
				
			 <h4>Prenom : {{apprenant.Prenom}} </h4>
			</div>
		</div>
		<div class="tel_mail">
			<p><i class="fas fa-phone-volume"></i> {{apprenant.Tel}} </p>
			<p><i class="fas fa-envelope"></i> {{apprenant.Mail}} </p>
		</div>
	</div>
</template>

<script>
 export default {
 	name: 'card',
       props: {
       	apprenant:{
       		type:Object
       	}
     },
     methods:{
     	todoDelete: function(){
     		this.$emit('deleteCard',this.apprenant)
     	}
     },
     
 }

</script>
<style>
.card{
	box-shadow: 9px 9px 19px -5px rgba(0,0,0,0.75);
}
#trash{
	width:11%;
	position:absolute;
	right:8px;
	bottom:8px;
}
.photoapprenant{
	width:40%;
	
	border-radius:20%;
}
.photo_nom{
	display:flex;
	align-items:center;
	justify-content: space-around;

}
.tel_mail{
	margin: 20px 0px 0px 50px;
}
</style>