<template>
  <div id="app">
    <div class="top">
    <img class="logo" src="https://simplon.co/wp-content/uploads/2017/02/142326-Simplon-logo-simplon.co_.jpg">
      <h1>Promo 2 Cahors</h1>
    </div>
    <div class="form-group" align="center">
      <input class="form-control" id="filtre" type="text" placeholder="Filtrer par nom..." v-model="search">
<label class="container"><input v-model="trier" class="checkbox" v-on:click = "sortApprenantsByFirstName" type="checkbox"><p>Ordre alphabétique.</p><span class="checkmark"></span></label>
   
    </div>
 
  
     
      
    <div class="cards">
      <Card v-for="el in filtreredApprenants"  :apprenant="el" v-on:deleteCard="deleteCard($event)" />       
    </div>
   
<hr>
   <div class="form-group">
    <h1 align="center">Ajouter un nouvel apprenant</h1>
    <label ><h5>Nom : </h5></label>
    <input type="text" class="form-control" placeholder="Entrer le Nom..." v-model="newApprenant.Nom">

    <label ><h5>Prénom : </h5></label>
    <input type="text" class="form-control" placeholder="Entrer le Prénom..." v-model="newApprenant.Prenom">

    <label ><h5>Tel : </h5></label>
    <input type="text" class="form-control" placeholder="Entrer le Numéro..." v-model="newApprenant.Tel">

    <label ><h5>Email : </h5></label>
    <input type="text" class="form-control" placeholder="Entrer l'adresse Mail..." v-model="newApprenant.Mail">

    <label> <h5>Url Photo</h5></label>
    <input type="text" class="form-control" placeholder="Entrer l'URL de la photo..." v-model="newApprenant.Photo">

    <button type="submit" class="btn btn-primary" v-on:click = "addUser"  >Ajouter</button>
  </div>


    </div>
</template>


<script>
import Card from './components/Card'


export default {
  name: 'App',
  components: {
    Card
  },
  data () {
    return {
      apprenants: [],
      search: "",
      trier : false,
      newApprenant: {},     
    }
  },
    computed:{
      filtreredApprenants: function(){
        return this.sortApprenantsByFirstName().filter((apprenant)=>{
          let x = apprenant.Nom + apprenant.Prénom + apprenant.Tel + apprenant.Mail
          return x.toLowerCase().match(this.search.toLowerCase())
        });
      },
    },
    methods:{
      sortApprenantsByFirstName (){
        if (this.trier) {
        return [...this.apprenants].sort((a, b) => {
        if (a.Nom < b.Nom) return -1;
        if (a.Nom > b.Nom) return 1;
        return 0;
      })
    }
    return [...this.apprenants]
   },
       addUser () {
        fetch(`http://localhost:8000/config.php`, {
           method: 'post' ,
            headers: { 'origin':'http://localhost:8080'},
              body: JSON.stringify(this.newApprenant)
          })

        .then(function (data) {
          console.log('Request succeeded with JSON response', data);
        })
        .catch(function (error) {
          console.log('Request failed', error);
        });

    },
  deleteCard(apprenant){
        this.apprenants.splice(apprenant,1);
      },
   fetchData () {
       fetch('http://localhost:8000/config.php', {headers: {'origin':'http://localhost:8080'}})
       .then((response) => { return response.json() })
        .then((data) => {this.apprenants = data})
  }
},
   mounted: function(){
    this.fetchData();
   },

}
</script>

<style>

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: ;
  color: #2c3e50;
  margin-top: 60px;
  
}

.form-group{
  padding: 30px 50px 0px 50px;
}
#filtre{
  width:25%;
}
.form-control{
  margin-bottom:20px;
}
.cards{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  border-radius:10px;
  padding:10px;
  margin:1.5rem;
  border:1px solid grey;
  width:25%;
  min-width:200px;
}
.logo{
  width:25%;
  height:25%;
}
.top{
  display:flex;
  align-items:center;

justify-content: space-around;

}









.container {
  display: flex;
justify-content:center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox{
  margin:100px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position:absolute;
  top: 5px;;
  left: 450px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


</style>
